<div class="example_1_part">
	<div class="container">
		<h3>Here you may find our projects and examples of functionalities we may offer you</h3>
	

		<table class="tests_table">
		  <tr>
		    <th>Link</th>
		    <th>Description</th> 
		  </tr>
		  <tr>
		    <td><%= link_to "test_model", test_models_path %></td>
		    <td> 2 </td>
		  </tr>
		  <tr>
		    <td>Model test 1 </td>
		    <td>test 2</td>
		  </tr>
		</table>

</div>
</div>

