/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

$fa-font-path: "font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

.top_home_background {
	background-color: #2b3035;
	height: 70px;
	overflow: hidden;
}

.logocontainer {
	width: 75px;
    background-color: #ec1756;
    height: 70px;
    display: inline-block;
    float: left;
}

.logo_text {
	display: inline-block;
	float: left;
	color: white;
	font-size: 26px;
    margin: 16px 0px 0px 10px;
}

.navbar-nav a{
	border-bottom:3px solid transparent;
	padding-bottom: 12px !important;
}

.navbar-nav .active {
	background-color: #242931;
	border-bottom:5px solid #ec1756;
	height: 70px;
}
.navbar-nav li {
	a {
		text-transform: uppercase;
		font-weight: bolder;
	}
	padding-right: 12px;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 14px;
}


.subject {
	font-size: 175%;
	margin: 45px auto;
	padding: 10px auto;
	margin-bottom: 30px;
}

.footer {
	height: 71px;
	background-color: #2a2f37;
	color: white;
	margin-top: 0;
	p {
		display: inline-block;
	    font-size: 18px;
	    letter-spacing: 1px;
	    margin: 21px 0 0 -4px;
	}
	.fa-copyright {
		margin: 0 8px 0 0px;
	}
}

.two_columns {
	color: #2b3035;
	font-size: 180%;
	line-height: 25px;
	margin-bottom: 55px;
	font-style: italic;
}

.second_row {
	margin-bottom: 45px;
}


.small_line {
	width:25%; 
	height:2px; 
	background: #04c4d9;
	margin: 15px 35px;
	display: block;
}

.btn-primary {
    color: #353a40;
    border-color: #04c4d9;
}

.icon_fb_background {
	height: 71px;
	width: 71px;
	background-color: #3b5998;
}

.icon_yt_background {
	background-color: #d04b4b;
	height: 71px;
	width: 71px;
}

.icon_insta_background {
	background-color: #3f729b;
	height: 71px;
	width: 71px;
}

.icons {
	display: inline-block;
	margin-top: 25px;
	font-size: 2em;
	color: white;
	float: right;
	margin: 0 0 0 0;
}

.icons_background {
	display: inline-block;
	float: right;
}

.fa_social {
	margin: 21px 0 0 21px;
}
