<!DOCTYPE html>
<html>
  <head>
    <title>Couple on rails</title>
    <%= csrf_meta_tags %>
    


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
	<div class="top_home_background"> 
		<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">CoupleOnRails</a>
			    </div>
			    <ul class="nav navbar-nav navbar-right">
			      <li class="active"><a href="#">Home</a></li>
			      <li><a href="#">Offer</a></li>
			      <li><a href="#">Team</a></li>
			      <li><a href="#">Contact</a></li>
			    </ul>
			  </div>
			</nav>

		</div>
		<div class="container">
		  <div class="jumbotron">
		    <h1>Couple on rails</h1> 
		    <div class="homeline1"> 

		    </div>
		    <p>All web related projects at hand. </p> 
		
		  </div>
		</div>
	</div>

<%= yield %>
	
	<div class="footer"> 
		<div class="container">
			<div class="row">
			<div class="row">
			<div class="col-xs-6">
			<h1>Couple on rails </h1>
			<br>
			<br>
			<div class="icons">
			<i class="fa fa-facebook" aria-hidden="true"></i> 
			<i class="fa fa-youtube" aria-hidden="true"></i>
			<i class="fa fa-instagram" aria-hidden="true"></i>
			</div>

			</div>
			</div>
			</div>
			</div>
			<div class="col-xs-6">
			</div>
			</div>

			<div class="row">
			<div class="col-xs-6">
			</div>
			</div>
		</div>
	</div>
	



  </body>
</html>
